
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }

  .createcontainer{
    background-color: #e0fbfc;
    height: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }